doctype html
html   
  head
    meta(http-equiv="content-type" content="application/json; charset=UTF-8")
    meta(name="viewport" 
      content="width=device-width, initial-scale=1, shrink-to-fit=no")       
    link(rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css")   
    link(rel='stylesheet' type="text/css" href='/stylesheets/style.css') 
    link(rel="stylesheet" href="/stylesheets/magnific-popup.css")
    script(src="/javascripts/jquery-3.4.1.min.js")
    //script(src="/javascripts/popper.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/magnific-popup.js")
    style
      include ../public/stylesheets/style.css
body

  block content 


