doctype html
html   
  head
    meta(http-equiv="content-type" content="application/json; charset=UTF-8")
    meta(name="viewport" 
        content="width=device-width, initial-scale=1, shrink-to-fit=no")   
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css")    
    script(src="/javascripts/jquery-3.4.1.min.js")
    //script(src="/javascripts/popper.min.js")
    script(src="/javascripts/bootstrap.min.js")
    //  meta(content-type="application/json" charset="utf-8")
    style
        include ../public/stylesheets/style.css
body
    header
      h3
        a(href='/') Семка 2000      
    block content
 
