mixin admin-list
    header
        nav(class="navbar sticked-top navbar-dark bg-primary")
            a(id='logo' class="navbar-brand mb-0 h1" href="/") Semka 2000
            ul( id='menu' class='nav justify-content-center')
                li(class='nav-item')
                    a(class="nav-link text-white" href='/admin/admin') Администрирование
                li(class='nav-item')
                    a(class="nav-link text-white" href='/admin/settings') Настройки
                li(class='nav-item')
                    a(class="nav-link text-white" href='/admin/verifycontrol') Контроль верификации 
                li(class='nav-item')
                    a(class="nav-link text-white" href='/')= user
            form(class='form-inline my-2 my-lg-0' id='logout' action='logout' method='get')
                button( id='exitButton' type="submit" class="btn btn-danger" ) Выход
mixin user-list
    