mixin admin-list
    ul(class='menu-main')
        li
            a(href='/admin/admin') Администрирование
        li
            a(href='/admin/settings') Настройки
        li
            a(href='/admin/verifycontrol') Контроль верификации
        li
            a(href='/admin/user_list') Список пользователей
    form(id='logout' action='logout' method='get')
        div
            p User
            p Privilieges
        div
            button( type="submit" class="btn btn-danger" ) Выход
mixin user-list
    ul(class='menu-main')
        li
            a(href='/user/verifycontrol') Контроль верификации
    form(id='logout' action='logout' method='get')
        div
            p User
            p Privilieges
        div
            button(type="submit" class="btn btn-danger" ) Выход