extends layout

include menu-partial 

block content   
        +admin-list
        h3= title
        div(class='container-fluid')
            table(class='table table-bordered')
                thead
                 tr
                  th(scope='col') Ник
                  th(scope='col') Имя
                  th(scope='col') Роль
                tbody
                 each user in users
                  tr
                   td= user.username
                   td= user.surname + ' ' + user.name + ' ' + user.secondname
                   td= user.privileges
                   
                 

                  
                  