extends layout

include menu-partial 

block content   
        +admin-list
        h3= title
        div(class='container-fluid')
         form(name='projects' )
            div(class='form-group row')
                    label(class="col-sm-3 col-form-label") Проекты:
                    div(class='col-sm-6')
                        select(id='prjlst' class="form-control")
                            each project in projects
                                option(value=project.project)= project.project
                            else
                                option(value='null') null
            div(class='form-group row')
                    label(class="col-sm-3 col-form-label") Предмет:
                    div(class='col-sm-6')
                        select(id='sbjlst' class="form-control")
                            each subject in subjects
                                option(value=subject)= subject
                            else
                                option(value='null') null
            table(class='table table-bordered')
                tbody
                tr
                td Test1
            button(type="submit" class='btn btn-primary') Проверить
        script.
           $(document).ready(function(){
               $("#prjlst").change(function(){ 
                   $.ajax({ 
                        type: 'post',
                        url: '/admin/verifycontrol/get/subjects',
                        data: 'project_value=' + $("select#prjlst").val(),
                        success: (data)=>{
                            $("#sbjlst").empty(); 
                            $.each(data, function(key, value) { 
                                $('#sbjlst').append(new Option(value, key))
                            })   
                        },
                        error: ()=>{
                            alert('Шо то не так( ' + document.getElementById('prjlst').value)
                        }
                    });
               })
               $('#sbjlst').change(()=>{
                   $.ajax({
                       type: 'post',
                       url: '/admin/verifycontrol/get/images',
                       data: 'subject_value=' + $("select#sbjlst").val(),
                        success: (data)=>{
                            console.log('it all good!')
                        },
                        error: ()=>{
                            console.log('Шо то не так( ' + document.getElementById('prjlst').value)
                        }

                   })
               })
           })
            
        