extends layout

include menu-partial 

block content   
        +admin-list
        h3= title
        div(class='container-fluid')
         form(name='projects' )
            div(class='form-group row')
                    label(class="col-sm-3 col-form-label") Проекты:
                    div(class='col-sm-6')
                        select(id='prjlst' name='project_list' onChange='get_Subjects()' class="form-control")
                            each project in projects
                                option(value=project.project)= project.project
                            else
                                option(value='null') null
            div(class='form-group row')
                    label(class="col-sm-3 col-form-label") Предмет:
                    div(class='col-sm-6')
                        select(id='sbjlist' name='subject_list' onchange="get_Images();" class="form-control")
                            each subject in subjects
                                option(value=subject)= subject
                            else
                                option(value='null') null
            table(class='table table-bordered')
                tbody
                tr
                td Test1
            button(type="submit" class='btn btn-primary') Проверить
        script.
            function get_Images(){   
                var xhr = new XMLHttpRequest();
                var body = 'type=sbj' + '&name=' + document.getElementById('sbjlist').value;
                //alert('alert: ' + body);
                xhr.open('POST', '/admin/verifycontrol/' +  document.getElementById('sbjlist').value);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send(body);
                xhr.onload = function () {
                    if (xhr.readyState === xhr.DONE) {
                        switch(xhr.status){
                            case 200: {
                                /*console.log('xhr.responseText: ' + xhr.responseText);
                                let sbjs_select = document.getElementById('sbjlist') 
                                let arr = JSON.parse(xhr.responseText);
                                for(let i = 0; i< arr.length; i++){
                                    let option = document.createElement("option");
                                        option.text = arr[i];
                                        sbjs_select.add(option);
                                }*/
                                break;
                            }
                            case 500: {
                                //console.log('response 500: ' + xhr.responseText);
                                /*let option = document.createElement("option");
                                option.text = 'null';
                                sbjs_select.add(option);
                                break;*/
                            }
                        }
                    }
                }
            }
            function get_Subjects(){   
                let xhr = new XMLHttpRequest();
                let body = 'type=prj' + '&name=' + document.getElementById('prjlst').value;
                let sbjs_select = document.getElementById('sbjlist'); 

                //alert('alert: ' + body);
                xhr.open('POST', '/admin/verifycontrol/:' + document.getElementById('prjlst').value);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send(body);
                xhr.onload = function () {
                    if (xhr.readyState === xhr.DONE) {
                        switch(xhr.status){
                            case 200: {
                                console.log('xhr.responseText 200: ' + xhr.responseText);
                                console.log('sbjs_select length: ' + sbjs_select.options.length);
                                let arr = JSON.parse(xhr.responseText);
                                sbjs_select.empty();
                                for(let i = 0; i< arr.length;i++){
                                    let option = document.createElement("option");
                                        option.text = arr[i];
                                        sbjs_select.add(option);                                        
                                }
                                break;
                                }
                            case 500: {
                               console.log('xhr.responseText 500: ' + xhr.responseText);                             
                            }
                        }
                    }
                }
            }
            
        