extends layout

include menu-partial 

block content   
    +admin-list
    div(class='container-fluid')
        form(method='get' action='/private/verifycontrol/onhand')
            div(class='form-group row')
                label(class="col-sm-3 col-form-label") Проекты:
                div(id='projectSelect' class='col-sm-6')
                    select(id='projectList' class="form-control")
                        option(value='Выберите проект' selected='selected') Выберите проект
                        each project in projects
                            option(value=project.project_name)= project.project_name
                        else
                            option(value='Проектов нет' selected='selected') Проектов нет
            div(class='form-group row')
                label(class="col-sm-3 col-form-label") Предмет:
                div(id='subjectSelect' class='col-sm-6')  
                    select(id='subjectList' class="form-control")
                        option(value='Выберите предмет' selected='selected') Выберите предмет
        div(id='forData')      
            div(id='divForGoToVerifyButtons')                    
            div(id='answersTable')  
    script.
        $(document).ready(function () { 
            $("#projectList").change(function () {
                getSubjects();
            });
            
            $('.test-popup-link').magnificPopup({ type: 'image' });
        });

        /*получение данных для составления списка изображений для верификации (непосредственно верификация)*/
        function getDataForVerification(values){        
            $.post( '/private/verifycontrol/onhand', values)
                .done(function (data) {
                    console.log('getDataForVerification');
                    if(data.length == 0){                 
                        console.log('getDataForVerification data.length: '  + data.length);       
                        $("#verifyControlTable").remove();
                        $("#sendResult").remove();
                        $('#projectList').prop('disabled', false);
                        $('#subjectList').prop('disabled', false);
                        getImages();
                    }
                    else 
                        setDataForVerification(data)
                })
                .fail(function (xhr, status, error) {
                    console.log('Status: ' + status + ' Message:' + error);
                });
            }

        /*
        формирование списка с изображениями для верификации и добавление его на страницу
        */    
        function setDataForVerification(data){
            let verifyControlTable = '<table id="verifyControlTable" class="table table-hover table-bordered">';
            verifyControlTable += '<tbody>';
            console.log('setDataForVerification: ' + data);
            $.each(data, function (key, value) {
                verifyControlTable += '<tr height="110"><th class="info" scope="row">' + key + '</th>';
                verifyControlTable += '<td class="info" scope="row">' + value.value + '</td>';
                verifyControlTable += '<td class="img" status="0" id=\'' + value.id + '\'><img src=\'' + value.cropped_image + '\' class="img-fluid" alt=\'Изображение со значением: ' + value.value + '\' />';
                verifyControlTable += '</td>';
                verifyControlTable += '<td><ul class="list-unstyled">';
                verifyControlTable += '<li>' + 'Задание: ' + value.task + '</li>'
                verifyControlTable += '<li>' + 'ФИО:' + '</li>'
                verifyControlTable += '<li>' + 'Никнейм:' + '</li>'
                verifyControlTable += '<li><a class="popup-link-to-original-image" href=\''+value.original_image+'\'>Ссылка на бланк</a></li></ul></td>'
                verifyControlTable += '</tr>';

            })
            verifyControlTable += '</tbody></table>'
            verifyControlTable += '<div><button id="sendResult" class="btn btn-primary">Отправить</button></div>'

            //Удаление кнопок "отправить на контроль". Не уверен, что удаление это хороший путь, но пока так
            $('#formForGoToVerifyButtons').remove();
            $('#answersTable').html(verifyControlTable); 

            $('#verifyControlTable td.img').bind('click', function () {
                if ($(this).attr("status") == 0) {
                    $(this).attr("status", 1);
                    $(this).css('background-color', 'blue');
                } else if ($(this).attr("status") == 1) {
                    $(this).attr("status", 2);
                    $(this).css('background-color', 'red');
                } else if ($(this).attr("status") == 2) {
                    $(this).attr("status", 0);
                    $(this).css('background-color', 'inherit');
                }
            });

            $('#sendResult').bind('click', function (e) {
                e.preventDefault();
                sendResult();
            });

            /*ссылка на оригинальное изображение*/
            $('.popup-link-to-original-image').bind('click', function(e){
                e.preventDefault();
                $('.popup-link-to-original-image').magnificPopup({ type: 'image' });
            });
        }

        /*
        Получение таблицы значений для верификации(кол-во изображений) на основе выбранного предмета и проекта
        */ 
        function getImages() {            
            $.post('/private/verifycontrol/getImages', { subjectCode: $("select#subjectList").val(), projectName: $("select#projectList").val() })
                .done(function (data) {
                    console.log('getImages: ' + JSON.stringify(data));
                    setTable(data);
                })
               .fail(function (xhr, status, error) {
                    console.log('Status: ' + status + ' Message:' + error);
                });
        };

        /*
        Получение списка предметов на основе выбранного проекта
        */
        function getSubjects() {
            $.post('/private/verifycontrol/getSubjects', {projectName: $("select#projectList").val()})
                .done(function (data) {
                    console.log('done by get subjects ' + data.length);
                    let select = '<select id="subjectList" class="form-control"><option value="Выберите предмет" selected="selected">Выберите предмет</option>';
                    $.each(data, function (key, value) {
                        select += '<option value=\'' + JSON.stringify(value.subject_code) + '\'>' + value.subject_name + '</option>';
                    })
                    select += '</select>';
                    $('#projectList option[value=\'Выберите проект\']').remove();
                    $('#subjectSelect').html(select);
                    $('#subjectList').bind('change', function () {
                        //Нужно прописать удаление option в sbjlst со значением "Выберите предмет"
                        getImages();
                    });
                    //Удаление таблички с вариантами для верификации. Зачем? Её здесь быть не должно на данном этапе
                    $('#preVerifyControlTable').remove();
                })
                .fail(function (xhr, status, error) {
                    console.log('Status: ' + status + ' Message:' + error);
                });
        };

        /*
        формирование таблицы с ответами для контроля верификации
        */
        function setTable(data) {
            console.log('data.length=' + data.length);
            let numOfRows = 0,
                numOfCols = 10;
            if (data.length % 10 > 0) {
                numOfRows = Math.floor(data.length / 10) + 1;
                console.log('rows: ' + numOfRows);
            } else {
                console.log('acid rocket')
                numOfRows = Math.floor(data.length / 10);
            }

            $('#tBody').remove(); //??
            let tableBody = '<table id="preVerifyControlTable" class="table table-responsive table-bordered table-striped table-light"><tbody id="tBody">';
            for (let i = 0; i < numOfRows; i++) {
                tableBody += '<tr>';
                //console.log("rows it: " + i + 'and ' + Math.floor(data.length/10));
                //проверка на не полные столбцы
                if (i == Math.floor(data.length / 10)) {
                    numOfCols = data.length % 10;
                    //console.log("numcOfCols: " +numOfCols);
                }
                for (let j = 0; j < numOfCols; j++) {
                    tableBody += '<td value =\'' + data[+('' + i + j)].value + '\' align="center">';
                    tableBody += '<input id=\'' + ('' + i + j) + '\'type=\'checkbox\' value=\'' + data[+('' + i + j)].value + '\' count=\'' + data[+('' + i + j)].count + '\'>';
                    tableBody += data[+('' + i + j)].value + '(' + JSON.stringify(data[+('' + i + j)].count) + ')';
                    tableBody += '</input>';
                    tableBody += '</td>';
                }
                tableBody += '</tr>';
            }
            tableBody += '</tbody></table>'
            $('#subjectList option[value=\'Выберите предмет\'').remove();
            $('#answersTable').html(tableBody);
            
            //Не работает тема, вернуться и доделать
            $('#preVerifyControlTable input').bind('click', function () {
                $(this).css('background-color', 'green');
            });

            let buttons = '<form id=\'formForGoToVerifyButtons\' action=\'/private/verifycontrol/onhand\')>'
            buttons +=  '<button id=\'goToVerifyButton\' type=\'submit\'  class=\'btn btn-primary\'> Проверить выбранные </button>';
            buttons += '<button id=\'goToVerifyButtonFirstFifty\' type=\'submit\'  class=\'btn btn-primary\'> Проверить первые 500 </button>';
            buttons += '</form>'
            $('#divForGoToVerifyButtons').html(buttons);
            $('#goToVerifyButtonFirstFifty').bind('click', function (e) {
                e.preventDefault();
                verify($('input[type=\'checkbox\']'));
            });
            $('#goToVerifyButton').bind('click', function (e) {
                e.preventDefault();
                verify($("input[type=\'checkbox\']:checked"));
            });
        };

        function verify(values) {                        
            if (values.length) {
                console.log('verify values length: ' + values.length);   
                $('#projectList').prop('disabled', true);
                $('#subjectList').prop('disabled', true);
                let data = {};
                data.values = {};
                data.projectName = $('#projectList').val();
                data.subjectCode = $('#subjectList').val();
                for (i = 0; i < values.length; i++) {
                    data.values[i] = $('#' + values[i].id).val();
                }
                console.log('verify data length: ' + data.length);  
                getDataForVerification(data);
            } else {
                console.log('Не выбраны данные для проверки');
            }
        };

        function sendResult() {
            let resultOfVerifyControl = $("td[class=\'img\']");     
            if(resultOfVerifyControl.length == 0)
                console.log('Почему-то изображений 0');
            let data = {};
            data.imageIds = {};
            data.statuses = {};
            data.user = {};
            for (let i = 0; i < resultOfVerifyControl.length; i++) { 
                data.imageIds[i] = $('#'+resultOfVerifyControl[i].id).attr('id');
                data.statuses[i] = $('#'+resultOfVerifyControl[i].id).attr('status');
            }
            $.post('/private/verifycontrol/sendResult', data)
                .done(function (data) {
                    console.log('send result success ' + data.response); //location.href=location.href;
                })
                .fail(function (xhr, status, error) {
                    console.log('Status: ' + status + ' Message:' + error);
                });
            $("#verifyControlTable").remove();
            $("#sendResult").remove();
            $('#projectList').prop('disabled', false);
            $('#subjectList').prop('disabled', false);
            getImages();
        };