extends layout

include menu-partial 

block content   
        +admin-list
        h3 Контроль верификации
        div(id='forData' class='container-fluid')
            form(name='projects' action='/admin/verifycontrol/onhand' method='get' )
                div(class='form-group row')
                        label(class="col-sm-3 col-form-label") Проекты:
                        div(class='col-sm-6')
                            select(id='prjlst' class="form-control")
                                each project in projects
                                    option(value=project.project_name)= project.project_name
                                else
                                    option(value='null' selected='selected') null
                div(class='form-group row')
                        label(class="col-sm-3 col-form-label") Предмет:
                        div(id='forSelectSbjs' class='col-sm-6')
                            select(id='sbjlst' class="form-control")
                                each subject in subjects
                                    option(value=subject.subject_code)= subject.subject_code 
                                else
                                    option(value='null' selected='selected') null
                div(id='forTable' class='container-fluid') 
            form(action='/admin/verifycontrol/onhand' method='get' )
                button(id="goToVerifyButton" type="submit"  class='btn btn-primary') Проверить
        script.
           $(document).ready(function(){  
                $('#goToVerifyButton').click((e)=>{
                    e.preventDefault();
                    let values = $("input[type=\'checkbox\']:checked");
                        if(values.length){
                            let data = new Object();
                            data.values = new Object();
                            data.project = $('#prjlst').val();
                            for(i = 0; i < values.length;i++){
                                data["values"][i] = $('#'+values[i].id).val();
                            }
                            localStorage.setItem('data', data);
                            $.ajax({
                                url: '/admin/verifycontrol/onhand',
                                data: data,
                                success: (data, status)=>{
                                    if(status == 200)
                                        $('#forData').html('<p>' + data + '</p>');
                                    if(status == 500)
                                        alert('Status 500: ' + status);
                                },
                                error: (err)=>{
                                    alert('something goes wrong: ' + err);
                                }
                            })
                        } else {
                            alert('Не выбраны данные для проверки');
                        }
                   
                })
                $('#sbjlst').change(()=>{
                    functions.getImages();
                }); 
                $("#prjlst").change(function(){ 
                    functions.getSubjects();
                    console.log('$("select#sbjlst").val():' + $("select#sbjlst").val());                    
               });
               $('td').on('click', ()=>{
                  $(this).css('background-color', 'black');
               })
           })

           const functions = {
               getImages: ()=>{
                   $.ajax({
                        type: 'post',
                        url: '/admin/verifycontrol/getImages',
                        data: {
                            'subject_value' : $("select#sbjlst").val(),
                            'project_value' : $("select#prjlst").val()
                         },
                        success: (data)=>{
                            functions.setTable(data);
                        },
                        error: (err)=>{
                            console.log('Шо то не так( ' + err);
                        } 
                   });
               },

               getSubjects: ()=>{
                   $.ajax({ 
                        type: 'post',
                        url: '/admin/verifycontrol/getSubjects',
                        data: 'project_value=' + $("select#prjlst").val(),
                        success: (data)=>{
                            $("#sbjlst").remove();
                            let select = '<select id="sbjlst" class="form-control">'
                            $.each(data, function(key, value) { 
                                select += '<option value="' + JSON.stringify(value.subject_code) + '">' + JSON.stringify(value.subject_code) + '</option>';
                            })
                            select += '</select>';                           
                            $('#forSelectSbjs').html(select);
                            $('#sbjlst').bind('change',()=>{ 
                                  functions.getImages();
                                }); 
                            //чтобы при смене предмета запускаласт функция с обновлением изображений
                            functions.getImages(); 
                        },
                        error: ()=>{
                            alert('Шо то не так( ' + document.getElementById('prjlst').value)
                        }
                    });
               },

               setTable: (data)=>{
                   console.log('data.length=' + data.length);
                            let numOfRows = 0, numOfCols = 10;
                            if(data.length%10 > 0){
                                numOfRows = Math.floor(data.length/10) + 1;
                                console.log('rows: ' + numOfRows);
                            } else {
                                console.log('acid rocket')
                                numOfRows = Math.floor(data.length/10);
                            }       
                            $('#tbody').remove();
                            let table_body = '<table id="table" class="table table-striped table-dark"><tbody id="tbody">';
                            for(let i=0;i<numOfRows;i++){
                                table_body+='<tr>';
                                //console.log("rows it: " + i + 'and ' + Math.floor(data.length/10));
                                //проверка на не полные столбы
                                if(i == Math.floor(data.length/10)){ 
                                    numOfCols = data.length%10;
                                    //console.log("numcOfCols: " +numOfCols);
                                }
                                for(let j=0;j<numOfCols;j++){
                                    table_body +='<td value =\''+ data[+(''+i+j)].value +'\'>';
                                    //console.log(" numOfCols j: " + numOfCols + ' and ' + j);
                                    table_body +='<input id=\'' + (''+i+j) +'\'type=\'checkbox\'>';
                                    table_body +=data[+(''+i+j)].value + '('+JSON.stringify(data[+(''+i+j)].count)+ ')';
                                    table_body +='</input>';
                                    table_body +='</td>';
                                }
                                table_body+='</tr>';
                            }
                            table_body+='</tbody></table>'
                            $('#forTable').html(table_body);  
               }
           }
            
        