extends layout

include menu-partial 

block content   
        +admin-list
        h3= title
        div(class='container-fluid')
         form(name='projects' )
            div(class='form-group row')
                    label(class="col-sm-3 col-form-label") Проекты:
                    div(class='col-sm-6')
                        select(id='prjlst' class="form-control")
                            each project in projects
                                option(value=project.project_name)= project.project_name
                            else
                                option(value='null' selected='selected') null
            div(class='form-group row')
                    label(class="col-sm-3 col-form-label") Предмет:
                    div(class='col-sm-6')
                        select(id='sbjlst' class="form-control")
                            each subject in subjects
                                option(value=subject.subject_code)= subject.subject_code
                            else
                                option(value='null') null
            table(id='tbl' class='table table-striped')
                tbody
                tr
                    each img in imgs
                        td= img.value + '('+ img.count + ')'
            button(type="submit" class='btn btn-primary') Проверить
        script.
           $(document).ready(function(){
               $("#prjlst").change(function(){ 
                   $.ajax({ 
                        type: 'post',
                        url: '/admin/verifycontrol/get/subjects',
                        data: 'project_value=' + $("select#prjlst").val(),
                        success: (data)=>{
                            $("#sbjlst").empty(); 
                            $.each(data, function(key, value) { 
                                //console.log("key = " + key + "; val = " + JSON.stringify(value.subject_code));
                                $('#sbjlst').append(new Option(JSON.stringify(value.subject_code), key))
                            })   
                        },
                        error: ()=>{
                            alert('Шо то не так( ' + document.getElementById('prjlst').value)
                        }
                    });
               })
               $('#sbjlst').change(()=>{
                   $.ajax({
                       type: 'post',
                       url: '/admin/verifycontrol/get/images',
                       //data: 'subject_value=' + $("select#sbjlst").val() + '&project_value=' + $("select#prjlst").val(),
                        data: {
                            'subject_value' :$("select#sbjlst").val(),
                            'project_value' : $("select#prjlst").val()
                         },
                        success: (data)=>{
                            console.log('data.length=' + data);
                           /* var number_of_rows = data;
                            var number_of_cols = 10;
                            var table_body = 'table(border="1")';
                            for(var i=0;i<number_of_rows;i++){
                                table_body+='tr';
                                for(var j=0;j<number_of_cols;j++){
                                    table_body +='td';
                                    table_body +=data.;
                                    table_body +='</td>';
                                }
                                table_body+='</tr>';
                            }
                                table_body+='</table>';
                            $('#tableDiv').html(table_body);    */                    
                        },
                        error: (err)=>{
                            console.log('Шо то не так( ' + err);
                        }

                   })
               })
           })
            
        